﻿@model EC.PRM.UI.Web.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/Login.css")
    @Styles.Render("~/Content/Site.css")

</head>
<body id="back_login">
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.ReturnURL)

    <div>

        <div class="container" id="Contenido">
           @* <h1 class="form-heading">Partner Relationship Manager </h1>*@
            <div class="login-form">
                <div class="main-div">
                    <div class="panel">
                        @*<h2>Inicio de sesión</h2>*@

                        <img src="~/images/title.png" />
                        @*<h2>Partner Relationship Manager</h2>*@
                        @*<p>Ingresa usuario y contraseña</p>*@
                    </div>
                    @*<h1>Login </h1>*@
                    @*<h1>Relationship Manager</h1>*@

                    <br />
                    <br />
                    <div>
                        
                        @*<br /> <br />
                        @Html.CheckBoxFor(s => s.isRemember) Remember ME*@

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                                @Html.TextBoxFor(s => s.Username, new { @placeholder = "Usuario", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                                @Html.PasswordFor(s => s.Password, new { @placeholder = "Contraseña", @class = "form-control" })
                            </div>
                        </div>

                        @if (TempData["ErrorMSG"] != null)
                        {
                            <label style="color:maroon;"> @TempData["ErrorMSG"] </label>
                            <br /><br />
                        }

                    </div>
                    <br />
                    <br />
                    

                    @*<button type="submit" class="btn btn-primary" onclick="validateLogin('@Url.Action("Validate")')">Login</button>*@
                    @*<input type="submit" value="Login" class="btn btn-primary"/>*@
                    <input type="submit" value="Iniciar sesión" id="btnLogin">

                </div>

            </div>
        </div>




    </div>


}
</body>
</html>
