﻿@using EC.PRM.LogicaNegocio.Entities
@model EC.PRM.UI.Web.Models.AssetCatalogModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("/Scripts/js/AssetCatalog.js")

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">


        <div class="row">
            <div class="col-md-12">
                <div class="animate-box">

                    <h3>Catálogo de activos</h3>

                    <label>Consulta el listado de activos existentes y modifica si es necesario.</label>
                    <hr class="dottedline">
                    <table width="100%" style="margin-bottom:15px;">

                        <tbody>
                            <tr>
                                <td width="40%"><input type="text" id="txtBuscar" class="form-control" placeholder="Buscar activo" value="@Model.dsearch"></td>
                                <td width="30%"><input type="submit" value="Buscar" class="btn btn-primary" onclick="filterTable('@Url.Action("Index")');"></td>
                                <td width="30%"></td>
                            </tr>
                        </tbody>
                    </table>

                    @if (Model != null && Model.lstAsset.Count > 0)
                    {
                        <div>

                            @{
                                var grid = new WebGrid(Model.lstAsset, canSort: false, rowsPerPage: 10, canPage: true);
                            }

                            @grid.GetHtml(
         htmlAttributes: new
         {
             id = "tblActivo",
             width = "100%"
         },
         mode: WebGridPagerModes.All,
         tableStyle: "tb_body",
         headerStyle: "tb_head_black",
         firstText: "<< Primero ",
         previousText: "< Anterior |",
         nextText: "| Siguiente >",
         lastText: "Último >>",
         footerStyle: "footer",
         columns: grid.Columns(
             grid.Column("AssetId", "Id", canSort: false),
             grid.Column("Asset_AssetCollateralId", "CId", canSort: false),
             grid.Column("Asset_Brand", "Marca", canSort: false),
             grid.Column("Asset_Model", "Modelo", canSort: false),
             grid.Column("Asset_Description", "Descripción", canSort: false),
             grid.Column("Asset_Year", "Año", canSort: false),
             grid.Column("Asset_OEC", "Precio", canSort: false, format: @<text>@String.Format("{0:#,,0.00;(#,,0.00);0}", (decimal)(item.Asset_OEC)) </text>),
             grid.Column("currency.Currency_Code", "Moneda", canSort: false),
             grid.Column("collateral.AssetCollateral_Description", "Grupo", canSort: false),
             grid.Column("Asset_CurrencyId", "MId", canSort: false) ) )

                        </div>
                                }
                                else
                                {
                                    <p> No existen registros</p>
                                }

                    <h3>Datos del activo</h3>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td></td>
                                                <td align="right">
                                                    <a id="linkCollateral" class="btn btn-cta" href="#content-Collateral" title="Agregar Grupo" data-toggle="tooltip" data-placement="left" style="margin:-15px!important">
                                                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Grupo:</td>
                                                <td width="350">
                                                    <select class="form-control" id="cboGrupo">
                                                        <option value="0">--- Selecciona una opción ---</option>

                                                        @foreach (Cat_AssetCollateral user in Model.lstCollateral)
                                                        {
                                                            <option value=@user.AssetCollateralId>@user.AssetCollateral_Description</option>
                                                        }

                                                    </select>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table id="tblDataUser" cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Marca:</td>
                                                <td width="350">
                                                    <input type="text" id="txtMarca" class="form-control" placeholder="Marca">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Modelo:</td>
                                                <td width="350">
                                                    <input type="text" id="txtModelo" class="form-control" placeholder="Modelo">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td></td>
                                                <td align="right">
                                                    <br />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Descripción:</td>
                                                <td width="350">
                                                    <input type="text" id="txtDescripcion" class="form-control" placeholder="Descripción">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Año:</td>
                                                <td width="350">
                                                    <input type="text" id="txtAnio" class="form-control" placeholder="Año">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Precio:</td>
                                                <td width="350">
                                                    <input type="text" id="txtPrecio" class="form-control" placeholder="$0.0">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Moneda:</td>
                                                <td width="350">
                                                    <select class="form-control" id="cboMoneda">
                                                        <option value="0">--- Selecciona una opción ---</option>

                                                        @foreach (Cat_Currency ele in Model.lstCurrency)
                                                        {
                                                            <option value=@ele.CurrencyId>@ele.Currency_Description - @ele.Currency_Code</option>
                                                        }

                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <br />
                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="col-md-6">
                                    <input type="button" value="Nuevo" class="btn btn-primary" onclick="newRow()">
                                </div>
                            </div>
                            <div class="col-md-2" id="btnGuardar">
                                <div class="col-md-6">
                                    <input type="button" value="Guardar" class="btn btn-primary" onclick="saveRow('@Url.Action("SaveAsset")')">
                                </div>
                            </div>
                            <div class="col-md-2" id="btnActualizar">
                                <div class="col-md-6">
                                    <input type="button" value="Actualizar" class="btn btn-primary" onclick="updateRow('@Url.Action("UpdateAsset")', true)">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-6">
                                    <input type="button" value="Eliminar" class="btn btn-primary" onclick="updateRow('@Url.Action("UpdateAsset")', false)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="txtActivoId" />



                </div>
            </div>
        </div>


    </div>
</div>

<div style="display: none">
    <div id="content-Collateral" style="padding-top:15px" class="content-divST">
        <div class="centeredtext">Nuevo grupo.</div>
        <br />
        <div class="row form-group">
            <div class="col-md-12">
                <table cellpadding="5" cellspacing="5" width="100%">
                    <tr>
                        <td>Descripción:</td>
                        <td width="350">
                            <input type="text" id="txtGrupoDesc" placeholder="Descripción" class="form-control" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="text-center">
            <input type="button" value="Aceptar" class="btn btn-toolbar" onclick="addCollateral('@Url.Action("SaveCollateral")')">
        </div>

    </div>
</div>

<style type="text/css">
    .tb_head_black
    {
      padding:5px 8px!important;
      border-top:1px dotted;
      border-bottom:1px dotted;
      border-collapse:collapse;
      background-color:@Model.visualInfo.Visual_BannerColor;
      color:#FFF;
      vertical-align:top;
      border-color:#47D7AC;
    }
    @*
    .tb_body
    {
      width:100%;
      border-top:1px dotted;
      border-bottom:1px dotted;
      vertical-align:top;
      border-color:@Model.visualInfo.Visual_BannerColor;
      margin-bottom:15px;
    }

    .tb_body th { padding:5px 8px!important; }
    .tb_body td { padding:5px 8px!important; cursor:pointer; }

    .dottedline{
    color:@Model.visualInfo.Visual_BannerColor !important;
    border-top:2px dotted;
    }
    *@
</style>

