﻿@using EC.PRM.LogicaNegocio.Entities
@using EC.PRM.UI.Web.Models;
@model EC.PRM.UI.Web.Models.ProgramCatalogModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("/Scripts/js/ProgramCatalog.js")

@*@if (Model == null || ViewBag.LookFeel == null)
{
    <span style="color:red">Error</span>
    return;
}*@

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">


        <div class="row">
            <div class="col-md-12">
                <div class="animate-box">

                    <h3>Catálogo de programas</h3>

                    <label>Consulta el listado de programas existentes y modifica si es necesario.</label>
                    <hr class="dottedline">
                    <table width="100%" style="margin-bottom:15px;">

                        <tbody>
                            <tr>
                                <td width="40%"><input type="text" id="txtBuscar" class="form-control" placeholder="Buscar programa" value="@Model.dsearch"></td>
                                <td width="30%"><input type="submit" value="Buscar" class="btn btn-primary" onclick="filterTable('@Url.Action("Index")');"></td>
                                <td width="30%"></td>
                            </tr>
                        </tbody>
                    </table>

                    @if (Model != null && Model.lstProgram.Count > 0)
                    {
                        <div>

                            @{
                                var grid = new WebGrid(Model.lstProgram, canSort: false, rowsPerPage: 5, canPage: true);
                            }

                            @grid.GetHtml(
         htmlAttributes: new
         {
             id = "tblProgram",
             width = "100%"
         },
         mode: WebGridPagerModes.All,
         tableStyle: "tb_body",
         headerStyle: "tb_head_black",
         firstText: "<< Primero ",
         previousText: "< Anterior |",
         nextText: "| Siguiente >",
         lastText: "Último >>",
         footerStyle: "footer",
         columns: grid.Columns(
             grid.Column("programId", "Id", canSort: true),
             grid.Column("vendorId", "Id Vendor", canSort: false),
             grid.Column("program", "Programa", canSort: false),
             grid.Column("segment", "Segmento", canSort: false),
             grid.Column("timing", "Timing", canSort: false),
             grid.Column("vendor", "Vendor", canSort: false))
                                    )
                        </div>
                                }
                                else
                                {
                                    <p> No existen registros</p>
                                }

                    <h3>Datos del programa</h3>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table id="tblDataUser" cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Programa:</td>
                                                <td width="350">
                                                    <input type="text" id="txtPrograma" class="form-control" placeholder="Programa">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Vendor:</td>
                                                <td width="350">
                                                    <select class="form-control" id="cboVendor">
                                                        <option value="0">--- Selecciona un Vendor ---</option>

                                                        @foreach (Cat_Vendor user in Model.lstVendor)
                                                        {
                                                            <option value=@user.VendorId>@user.Vendor_Name</option>
                                                        }

                                                    </select>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Segmento:</td>
                                                <td width="350">
                                                    <select class="form-control" id="cboSegmento">
                                                        <option value="0">--- Selecciona un Valor ---</option>
                                                        @foreach (DataList dl in Model.lstSegment)
                                                        {
                                                            <option value=@dl.Value>@dl.Text</option>
                                                        }
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Timing:</td>
                                                <td width="350">
                                                    <select class="form-control" id="cboTiming">
                                                        <option value="0">--- Selecciona un Valor ---</option>
                                                        @foreach (DataList dl in Model.lstTiming)
                                                        {
                                                            <option value=@dl.Value>@dl.Text</option>
                                                        }
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <br />
                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="col-md-6">
                                    @*<input type="button" value="Nuevo" class="btn btn-primary" onclick="newRow()">*@
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-6">
                                    <input type="button" value="Eliminar" class="btn btn-primary" onclick="saveRow('@Url.Action("SaveProgram")', false)">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-6">
                                    <input type="button" value="Actualizar" class="btn btn-primary" onclick="saveRow('@Url.Action("SaveProgram")', true)">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-6">
                                    <input type="button" value="Detalle" class="btn btn-primary" onclick="showProgramDetail()">
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="txtProgramId" value="0" />



                </div>
            </div>
        </div>


    </div>
</div>

<style type="text/css">
    .tb_head_black
    {
      padding:5px 8px!important;
      border-top:1px dotted;
      border-bottom:1px dotted;
      border-collapse:collapse;
      background-color:@Model.visualInfo.Visual_BannerColor;
      color:#FFF;
      vertical-align:top;
      border-color:#47D7AC;
    }
    @*
    .tb_body
    {
      width:100%;
      border-top:1px dotted;
      border-bottom:1px dotted;
      vertical-align:top;
      border-color:@Model.visualInfo.Visual_BannerColor;
      margin-bottom:15px;
    }

    .tb_body th { padding:5px 8px!important; }
    .tb_body td { padding:5px 8px!important; cursor:pointer; }

    .dottedline{
    color:@Model.visualInfo.Visual_BannerColor !important;
    border-top:2px dotted;
    }
    *@
</style>