﻿@using EC.PRM.LogicaNegocio.Entities
@using EC.PRM.UI.Web.Models;
@model EC.PRM.UI.Web.Models.VendorCatalogModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("/Scripts/js/VendorCatalog.js")

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">


        <div class="row">
            <div class="col-md-12">
                <div class="animate-box">

                    <h3>Catálogo de Vendor</h3>

                    <label>Consulta el listado de Vendor existentes y modifica si es necesario.</label>
                    <hr class="dottedline">
                    <table width="100%" style="margin-bottom:15px;">

                        <tbody>
                            <tr>
                                <td width="40%"><input type="text" id="txtBuscar" class="form-control" placeholder="Buscar vendor" value="@Model.dsearch"></td>
                                <td width="30%"><input type="submit" value="Buscar" class="btn btn-primary" onclick="filterTable('@Url.Action("Index")');"></td>
                                <td width="30%"></td>
                            </tr>
                        </tbody>
                    </table>

                    @if (Model != null && Model.lstVendor.Count > 0)
                    {
                        <div>

                            @{
                                var grid = new WebGrid(Model.lstVendor, canSort: false, rowsPerPage: 5, canPage: true);
                            }

                            @grid.GetHtml(
         htmlAttributes: new
         {
             id = "tblVendor",
             width = "100%"
         },
         mode: WebGridPagerModes.All,
         tableStyle: "tb_body",
         headerStyle: "tb_head_black",
         firstText: "<< Primero ",
         previousText: "< Anterior |",
         nextText: "| Siguiente >",
         lastText: "Último >>",
         footerStyle: "footer",
         columns: grid.Columns(
             grid.Column("VendorId", "Id", canSort: false),
             grid.Column("Vendor_LocationId", "UId", canSort: false),
             grid.Column("Vendor_Name", "Entidad", canSort: false),
             grid.Column("Vendor_SICCode", "SIC", canSort: false),
             grid.Column("Vendor_ChannelManager", "Canal", canSort: false),
             grid.Column("Vendor_PhoneNumber", "Teléfono", canSort: false),
             grid.Column("Vendor_Email", "Email", canSort: false),
             grid.Column("location", "Ubicación", canSort: false))
                                    )
                        </div>
                                }
                                else
                                {
                                    <p> No existen registros</p>
                                }

                    <h3>Datos del Vendor</h3>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table id="tblDataUser" cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Entidad:</td>
                                                <td width="350">
                                                    <input type="text" id="txtVendor" class="form-control" placeholder="Nombre">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>SIC:</td>
                                                <td width="350">
                                                    <input type="text" id="txtSIC" class="form-control" placeholder="Código SIC">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Canal:</td>
                                                <td width="350">
                                                    <input type="text" id="txtCanal" class="form-control" placeholder="Canal de administrador">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Teléfono:</td>
                                                <td width="350">
                                                    <input type="text" id="txtTelefono" class="form-control" placeholder="Teléfono">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Email:</td>
                                                <td width="350">
                                                    <input type="text" id="txtEmail" class="form-control" placeholder="Email">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Ubicación:</td>
                                                <td width="350">
                                                    <select class="form-control" id="cboUbicacion">
                                                        <option value="0">--- Selecciona una ubicación ---</option>

                                                        @foreach (Cat_Location user in Model.lstLocation)
                                                        {
                                                            <option value=@user.LocationId>@user.Location_Name</option>
                                                        }

                                                    </select>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <br />
                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="col-md-6">
                                    <input type="button" value="Nuevo" class="btn btn-primary" onclick="newRow()">
                                </div>
                            </div>
                            <div class="col-md-2" id="btnGuardar">
                                <div class="col-md-6">
                                    <input type="button" value="Guardar" class="btn btn-primary" onclick="saveRow('@Url.Action("SaveVendor")')">
                                </div>
                            </div>
                            <div class="col-md-2" id="btnActualizar">
                                <div class="col-md-6">
                                    <input type="button" value="Actualizar" class="btn btn-primary" onclick="updateRow('@Url.Action("UpdateVendor")', true)">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-6">
                                    <input type="button" value="Eliminar" class="btn btn-primary" onclick="updateRow('@Url.Action("UpdateVendor")', false)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="txtVendorId" />



                </div>
            </div>
        </div>


    </div>
</div>

<style type="text/css">
    .tb_head_black
    {
      padding:5px 8px!important;
      border-top:1px dotted;
      border-bottom:1px dotted;
      border-collapse:collapse;
      background-color:@Model.visualInfo.Visual_BannerColor;
      color:#FFF;
      vertical-align:top;
      border-color:#47D7AC;
    }
    @*
    .tb_body
    {
      width:100%;
      border-top:1px dotted;
      border-bottom:1px dotted;
      vertical-align:top;
      border-color:@Model.visualInfo.Visual_BannerColor;
      margin-bottom:15px;
    }

    .tb_body th { padding:5px 8px!important; }
    .tb_body td { padding:5px 8px!important; cursor:pointer; }

    .dottedline{
    color:@Model.visualInfo.Visual_BannerColor !important;
    border-top:2px dotted;
    }
    *@
</style>
