#back_login { background-image: url('https://ec-you.engeniumcapital.com/public//multimedia_cliente/imagenes/Back1900.jpg') !important; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}