﻿body {
   
}
.eliminarEquipo{
    cursor: pointer;
}

.titleTA{
    padding-left: 10%;
    padding-bottom: 30px;
}

#titleTb td {
    padding-left:15px;
}

.grid { margin: 4px; border-collapse: collapse; width: 600px; } 
.head { background-color: #E8E8E8; font-weight: bold; color: #FFF; } 
.grid th, .grid td { border: 1px solid #C0C0C0; padding: 5px; } 
.alt { background-color: #E8E8E8; color: #000; } 
.product { width: 200px; font-weight:bold;} 