﻿@{
    ViewBag.Title = "Engenium Capital - Partners";
}
<div class="page-inner">

    <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/deal.jpg)" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row row-mt-15em">
                <div class="col-md-12 mt-text text-center animate-box" data-animate-effect="fadeInUp">
                    <h1>Hacerte Fuerte <strong>nos fortalece</strong></h1>
                    <h2>La manera inteligente de hacer un negocio comienza cuando eliges al mejor partner.</h2>
                    <div class="text-center"><a href="https://www.youtube.com/embed/ku5MMVPRmu0" class="btn btn-primary btn-lg popup-vimeo">Ver el video</a></div>
                </div>
            </div>
        </div>
    </header>

    <div id="gtco-features">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                    <h2>Cómo Funciona</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i>1</i>
                        </span>
                        <h3>Analiza</h3>
                        <p>Analiza y recomienda la mejor estrategia de financiemiento para tu cliente.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i>2</i>
                        </span>
                        <h3>Cotiza</h3>
                        <p>Cotiza mediante el portal y acelera la entrega de propuestas.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i>3</i>
                        </span>
                        <h3>Cierra</h3>
                        <p>Acelera el ritmo operativo con nostros mediante el sitio.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div id="gtco-counter" class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                <h2>Vendor Finance</h2>
                <p>Somos expertos diseñando soluciones a la medida de tus productos y mercado.</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                <div class="feature-center">
                    <span class="counter-label">Más de</span>
                    <span class="counter js-counter" data-from="0" data-to="22" data-speed="5000" data-refresh-interval="50">1</span>
                    <span class="counter-label">Años de sólida experiencia</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                <div class="feature-center">
                    <span class="counter-label">Más de</span>
                    <span class="counter js-counter" data-from="0" data-to="25" data-speed="5000" data-refresh-interval="50">1</span>
                    <span class="counter-label">mil millones de pesos en activos</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                <div class="feature-center">
                    <span class="counter-label">Más de</span>
                    <span class="counter js-counter" data-from="0" data-to="250" data-speed="5000" data-refresh-interval="50">1</span>
                    <span class="counter-label">Expertos en crear soluciones</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                <div class="feature-center">
                    <span class="counter-label">Más de</span>
                    <span class="counter js-counter" data-from="0" data-to="400" data-speed="5000" data-refresh-interval="50">1</span>
                    <span class="counter-label">Ideas de Clientes hechas realidad</span>
                </div>
            </div>

        </div>
    </div>
</div>