﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")


</head>
<body>
    <div class="gtco-loader"></div>

    @*<div id="page">
        <div class="page-inner">*@

            <div id="head-top" style="position: absolute; width: 100%; top: 0; ">
                <div class="gtco-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <div id="gtco-logo"><a href="index.html"><img src="~/images/logo_s.png"></a></div>
                            </div>
                            <div class="col-md-6 col-xs-6 social-icons">
                                <ul class="gtco-social-top">
                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="gtco-nav sticky-banner" role="navigation">
                    <div class="gtco-container">

                        <div class="row">
                            <div class="col-xs-12 text-center menu-1">
                                <ul>
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li class="has-dropdown">
                                        <a>Cotizaciones</a>
                                        <ul class="dropdown">
                                            <li>@Html.ActionLink("Cotizar", "Step1", "Quotation", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                            <li><a href="historial.html">Historial de Cotizaciones</a></li>
                                            <li>@Html.ActionLink("Configurar", "Mostrar", "Configurador")</li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a>Requisitos</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Checklist de Documentos</a></li>
                                            <li><a href="#">Solicitud de Cr&eacute;dito</a></li>
                                            <li><a href="#">Bur&oacute; de Cr&eacute;dito</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="administracion.html">Administraci&oacute;n</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Dashboard Cotizaciones</a></li>
                                            <li><a href="#">Usuarios</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="micuenta.html">Mi cuenta</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </nav>
            </div>

            <div class="container body-content">
                @RenderBody()
                <hr />

                <footer id="gtco-footer" role="contentinfo">
                    <div class="gtco-container">
                        <div class="row row-p	b-md">
                            <div class="col-md-4">
                                <div class="gtco-widget">
                                    <h3>Engenium Capital</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos molestias quod sint ipsum possimus temporibus officia iste perspiciatis consectetur in fugiat.</p>
                                    <p><a href="#">Conoce M&aacute;s...</a></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-push-1">
                                <div class="gtco-widget">
                                    <h3>Soluciones</h3>
                                    <ul class="gtco-footer-links">
                                        <li><a href="#">Productos</a></li>
                                        <li><a href="#">&Aacute;reas de Especializaci&oacute;n</a></li>
                                        <li><a href="#">Programas</a></li>
                                        <li><a href="#">Vendor Finance</a></li>
                                        <li><a href="#">Casos de &Eacute;xito</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-3 col-md-push-1">
                                <div class="gtco-widget">
                                    <h3>Contacto</h3>
                                    <ul class="gtco-quick-contact">
                                        <li><a href="#"><i class="icon-phone"></i> 01800-022-1000</a></li>
                                        <li><a href="#"><i class="icon-mail2"></i> (55) 5023-3003</a></li>
                                        <li><a href="#"><i class="icon-chat"></i>  partners@engeniumcapital.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row copyright">
                            <div class="col-md-12">
                                <p class="pull-right">
                                    <ul class="gtco-social-icons pull-right">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

        @*</div>
    </div>*@

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
