﻿<!-- Modal -->
<div id="LoadModal" class="modal fade" role="dialog">
    <div class="vertical-alignment-helper-layout">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div id="EncabezadoModal" class="modal-header">
                    <button id="IconoCerrarModal" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="TituloModal" class="modal-title">Encabezado</h4>
                </div>
                <div id="CuerpoModal" class="modal-body">
                    <p>Cuerpo</p>
                </div>
                <div id="PieModal" class="modal-footer">
                    <button id="BotonCerrarModal" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")