﻿@using EC.PRM.LogicaNegocio.Entities
@using EC.PRM.UI.Web.Models;
@model EC.PRM.UI.Web.Models.DashboardModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <link href="~/Content/jqwidgets/jqx.base.css" rel="stylesheet" />
    <link href="~/Content/jqwidgets/jqx.energyblue.css" rel="stylesheet" />
<link href="~/Content/jqwidgets/jqx.bootstrap.css" rel="stylesheet" />
<link href="~/Content/jqwidgets/jqx.android.css" rel="stylesheet" />
<link href="~/Content/jqwidgets/jqx.flat.css" rel="stylesheet" />
<link href="~/Content/jqwidgets/jqx.office.css" rel="stylesheet" />
<link href="~/Content/jqwidgets/jqx.arctic.css" rel="stylesheet" />
<link href="~/Content/jqwidgets/jqx.black.css" rel="stylesheet" />
<link href="~/Content/jqwidgets/jqx.blackberry.css" rel="stylesheet" />
<link href="~/Content/jqwidgets/jqx.classic.css" rel="stylesheet" />
<link href="~/Content/jqwidgets/jqx.dark.css" rel="stylesheet" />
<link href="~/Content/jqwidgets/jqx.fresh.css" rel="stylesheet" />

    <script src="~/Scripts/jqwidgets/jqxcore.js"></script>
    <script src="~/Scripts/jqwidgets/jqxdraw.js"></script>
    <script src="~/Scripts/jqwidgets/jqxchart.core.js"></script>
    <script src="~/Scripts/jqwidgets/jqxdata.js"></script>
    <script src="~/Scripts/js/Dashboard.js"></script>

    <script src="~/Scripts/jqwidgets/jqxtabs.js"></script>
}

@if (Model == null)
{
    <div class="gtco-section gtco-gray-bg">
        <div class="gtco-container">
            <span style="color:red">Error interno.</span>
        </div>
    </div>
    return;
}

@if (!Model.CargadoCorrecto)
{
    <div class="gtco-section gtco-gray-bg">
        <div class="gtco-container">
            <span style="color:red">Error interno: @Model.Mensajes</span>
        </div>
    </div>
    return;
}

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 ">
                    <div id='chartConversion' style="width: 300px; height: 350px;">
                    </div>
                    <div id='chartUso' style="width: 300px; height: 350px;">
                    </div>
                </div>
                <div class="col-md-9 animate-box" style="padding-left:50px;padding-top:5px">
                    <div class="col-md-3">
                        <div class="dashComponente">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <span class="moto-widget-image-link">
                                            <i class="icon-light-bulb"></i>
                                        </span>
                                        <label class="numeroComponente">@Model.cotizacionesAbiertas</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Abiertas</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="baseComponente">

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashComponente">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <i class="icon-light-bulb"></i>
                                        <label class="numeroComponente">@Model.cotizacionesTotal</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Total</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="baseComponente"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashComponente">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-shopping-cart"></i>
                                        <label class="numeroComponente">@Model.cotizacionesConvertidas</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Convertidas</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="baseComponente"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dashComponente">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-ok"></i>
                                        <label class="numeroComponente">@Model.cotizacionesGanadas</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Ganadas</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="baseComponente"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <table style="text-align:center;margin-top:50px;margin-left:30px">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-briefcase" aria-hidden="true" style="font-size:50px;color:#47D7AC"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label style="color:#47D7AC">Vendor program</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="50px"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="font-size:50px;color:#47D7AC;padding-top:40px;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label style="color:#47D7AC">Lead generation</label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-9">
                            <table style="text-align:center;margin-top:35px;border:solid 1px;">
                                <tr>
                                    <td class="numeroCuadro">
                                        <label class="numeroComponente">Vendors</label>
                                    </td>
                                    <td class="numeroCuadro">
                                        <label class="numeroComponente">Programas</label>
                                    </td>
                                    <td class="numeroCuadro">
                                        <label class="numeroComponente">Usuarios</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeroCuadro">
                                        <label class="numeroComponente">@Model.numVendors</label>
                                    </td>
                                    <td class="numeroCuadro">
                                        <label class="numeroComponente">@Model.numProgramas</label>
                                    </td>
                                    <td class="numeroCuadro">
                                        <label class="numeroComponente">@Model.numUsuarios</label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-9" style="padding-top:35px">
                            <div id='chartLead' style="width: 530px; height: 200px;">
                            </div>
                        </div>
                        <div class="col-md-9" style="padding-top:35px">

                            <div style="width:730px">
                                <hr class="dottedline">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th >Vendor</th>
                                            <th  colspan="2">Fecha</th>
                                            <th >Programa</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="text" id="txtFVendor" class="form-control" placeholder="Vendor" value="@Model.datosFiltro.Vendor"></td>
                                            <td><input type="text" id="txtFFechaIni" class="form-control" placeholder="Inicio" readonly="readonly" value="@Model.datosFiltro.FechaInicio" style="cursor:pointer!important;background-color:transparent!important"></td>
                                            <td><input type="text" id="txtFFechaFin" class="form-control" placeholder="Fin" readonly="readonly" value="@Model.datosFiltro.FechaFin" style="cursor:pointer!important;background-color:transparent!important" ></td>
                                            <td><input type="text" id="txtFPrograma" class="form-control" placeholder="Programa" value="@Model.datosFiltro.Programa"></td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th>Estatus</th>
                                            <th>Ejecutivo</th>
                                            <th>Palabra clave</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select class="form-control" id="cboEstatus">
                                                    <option value="0">Todos</option>
                                                    @foreach (Cat_Status ele in Model.lstQuotStatus)
                                                    {
                                                        if (Model.datosFiltro.IdEstatus == ele.StatusId.Value)
                                                        {
                                                            <option value=@ele.StatusId selected="selected">@ele.Status_Status</option>
                                                        }
                                                        else
                                                        {
                                                            <option value=@ele.StatusId>@ele.Status_Status</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td><input type="text" id="txtFEjecutivo" class="form-control" placeholder="Nombre" value="@Model.datosFiltro.Ejecutivo"></td>
                                            <td><input type="text" id="txtFPalabra" class="form-control" placeholder="Palabra" value="@Model.datosFiltro.Palabra"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <div class="form-group" align="left" style="padding:20px;padding-left:0px">
                                    <input type="submit" value="Aplicar Filtros" class="btn btn-primary" onclick="filterDetail('@Url.Action("Index")');">
                                    <input type="button" value="Limpiar" class="btn btn-primary" onclick="filterClear();">
                                </div>

                                @*<hr class="dottedline">*@
                            </div>

                            <div id='tabs'>
                                <ul>
                                    <li style="margin-left: 30px;">Cotizaciones</li>
                                    <li>Oportunidades</li>
                                    <li>Cerrados</li>
                                    <li>Ejecutivos</li>
                                    <li>Uso</li>
                                </ul>
                                <div>
                                    <div style="padding:15px">
                                        <h3>Detalle</h3>
                                        @if (Model.lstDetLead.Count <= 0)
                                        {
                                            <p>No existen registros</p>
                                        }
                                        else
                                        {
                                        <table class="table table-hover" width="100%">
                                            <thead>
                                                @*<tr>
                                                    <td>#</td>                                                </td>
                                                    <td>Cliente</td>
                                                    <td>Fecha</td>
                                                    <td>Producto</td>
                                                    <td>Plazo</td>
                                                    <td>Moneda</td>
                                                    <td>Monto</td>
                                                </tr>*@
                                            </thead>
                                            @foreach (Ope_Quotation reg in Model.lstDetLead)
                                            {
                                                <tr>
                                                    <td>
                                                        @reg.QuotationId
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_CustomerName
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_Date.Value.ToString("dd-MM-yyyy")
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_FinancialType
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_FinancialTerm
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_Currency
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:C2}", @reg.Quotation_Payment)
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                        }
                                    </div>
                                </div>
                                <div>
                                    <div style="padding:15px">
                                        <h3>Detalle</h3>
                                        @if (Model.lstDetOps.Count <= 0)
                                        {
                                            <p>No existen registros</p>
                                        }
                                        else
                                        {
                                        <table class="table table-hover" width="100%">

                                            @foreach (Ope_Quotation reg in Model.lstDetOps)
                                            {
                                                <tr>
                                                    <td>
                                                        @reg.QuotationId
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_CustomerName
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_Date.Value.ToString("dd-MM-yyyy")
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_FinancialType
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_FinancialTerm
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_Currency
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:C2}", @reg.Quotation_Payment)
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                        }
                                    </div>
                                </div>
                                <div>
                                    <div style="padding:15px">
                                        <h3>Detalle</h3>
                                        @if (Model.lstDetClosed.Count <= 0)
                                        {
                                            <p>No existen registros</p>
                                        }
                                        else
                                        {
                                        <table class="table table-hover" width="100%">
                                            @foreach (Ope_Quotation reg in Model.lstDetClosed)
                                            {
                                                <tr>
                                                    <td>
                                                        @reg.QuotationId
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_CustomerName
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_Date.Value.ToString("dd-MM-yyyy")
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_FinancialType
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_FinancialTerm
                                                    </td>
                                                    <td>
                                                        @reg.Quotation_Currency
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:C2}", @reg.Quotation_Payment)
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                        }
                                    </div>
                                </div>
                                <div>
                                    <div style="padding:15px">
                                        <h3>Detalle</h3>
                                        @if (Model.lstDetExecutives.Count <= 0)
                                        {
                                            <p>No existen registros</p>
                                        }
                                        else
                                        {
                                        <table class="table table-hover" width="100%">
                                            @foreach (Ejecutivo reg in Model.lstDetExecutives)
                                            {
                                                <tr>
                                                    <td>
                                                        @reg.Nombre
                                                    </td>
                                                    <td>
                                                        @reg.Apellido
                                                    </td>
                                                    <td>
                                                        @reg.Usuario
                                                    </td>
                                                    <td>
                                                        @reg.Perfil
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                        }
                                    </div>
                                </div>
                                <div>
                                    <div style="padding:15px">
                                        <h3>Detalle</h3>
                                        @if (Model.lstDetUso.Count <= 0)
                                        {
                                            <p>No existen registros</p>
                                        }
                                        else
                                        {
                                        <table class="table table-hover" width="100%">
                                            @foreach (UsuarioUso reg in Model.lstDetUso)
                                            {
                                                <tr>
                                                    <td>
                                                        @reg.Nombre
                                                    </td>
                                                    <td>
                                                        @reg.Apellido
                                                    </td>
                                                    <td>
                                                        @reg.Usuario
                                                    </td>
                                                    <td>
                                                        @reg.Evento
                                                    </td>
                                                    <td>
                                                        @reg.Fecha
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                        }
                                    </div>
                                </div>
                            </div> 

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
