﻿@using EC.PRM.LogicaNegocio.Entities
@using EC.PRM.UI.Web.Models
@model QuotationModel

@{
    ViewBag.Title = "Step3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                    <form action="#">
                        <h3>Cotizar</h3>


                        <label class="label_color">3. </label><label>&nbsp; Elige los datos del Financiamiento:</label>
                        <hr class="dottedline">


                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Tipo Financiemiento:</td>
                                        <td width="350">
                                            @foreach(Cat_FinanciamientoTipo finTipo in ViewBag.LstFinTipo)
                                            {
                                                @Html.RadioButton("cbxFinTipo", finTipo.FinanciamientoTipoId);
                                                <label>@finTipo.FinanciamientoTipo_Descripcion</label>
                                                <label>&nbsp;&nbsp;</label>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Moneda:</td>
                                        <td width="350">
                                            @foreach(Cat_Moneda moneda in ViewBag.LstMoneda)
                                            {
                                                @Html.RadioButton("cbxMoneda", moneda.MonedaId);
                                                <label>@moneda.Moneda_Codigo</label>
                                                <label>&nbsp;&nbsp;</label>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>



                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Plazos:</td>
                                        <td width="350">
                                            @foreach(Cat_FinanciamientoPlazo finPlazo in ViewBag.LstFinPlazo)
                                            {
                                                <input type="checkbox" name="cbxFinPlazo" value=@finPlazo.FinanciamientoPlazoId>
                                                <label>@finPlazo.FinanciamientoPlazo_Descripcion</label>
                                            }
                
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div id="alert_placeholder"></div>

                        <hr class="dottedline">

                        <div class="form-group" align="right">
                            <input type="button" value="Continuar a Revisar Datos" class="btn btn-primary" onclick="keepDataStep3('@Url.Action("GuardarStep3")');">
                        </div>




                    </form>
                </div>
                <div class="col-md-5 col-md-push-1 animate-box">

                    <br>
                    <br>
                    <label>Datos de la cotización:</label>
                    <hr class="dottedline">
                    <br>

                    <div class="row form-group">
                        <div class="col-md-12">
                            En esta sección muestra los datos que vayas ingresando para tu cotización. Completa 3 sencillos pasos para generar una propuesta comercial para tu cliente.
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Datos del Cliente</td>
                                </tr>
                                <tr>
                                    <td>Cliente: @Model.ClienteNombre</td>
                                </tr>
                                <tr>
                                    <td>Contacto: @Model.ClienteContacto</td>
                                </tr>
                                <tr>
                                    <td>Correo: @Model.ClienteEmail</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Activos</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            @foreach (EquipoModel equipo in Model.LstEquipos)
                                            {
                                                <tr>
                                                    <td width="350">
                                                        @String.Format("({0}) {1}", equipo.Cantidad, equipo.Producto)
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Datos del Financiamiento</td>
                                </tr>
                                <tr>
                                    <td>Completa el paso 3.</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <hr class="dottedline">

                    <div class="form-group" align="right">
                        <input type="submit" value="Generar Propuesta" class="btn btn-primary" disabled= disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>