﻿@using EC.PRM.LogicaNegocio.Entities
@model List<Cat_Ubicacion>

@{
    ViewBag.Title = "Step1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gtco-section gtco-gray-bg">
		<div class="gtco-container">
			<div class="row">

				<div class="col-md-12">
					<div class="col-md-6 animate-box">
					<form action="#">
					<h3>Cotizar</h3>
					
						
						<label class="label_color">1. </label><label>&nbsp; Personaliza tu cotización con los datos del Cliente:</label>
						<hr class="dottedline">
						
						
						<div class="row form-group">
							<div class="col-md-12">
								<table cellpadding="5" cellspacing="5" width="100%">
									<tr>
										<td>Cliente:</td>
										<td width="350">
											<input type="text" id="txtCliente" class="form-control" placeholder="Cliente" required="true">
										</td>
									</tr>
								</table>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
								<table cellpadding="5" cellspacing="5" width="100%" class="resetme">
									<tr>
										<td>Contacto:</td>
										<td width="350">
											<input type="text" id="txtContacto" class="form-control" placeholder="Contacto">
										</td>
									</tr>
								</table>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
								<table cellpadding="5" cellspacing="5" width="100%">
									<tr>
										<td>Correo Electrónico:</td>
										<td width="350">
											<input type="text" id="txtEmail" class="form-control" placeholder="e-mail">
										</td>
									</tr>
								</table>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
								<table cellpadding="5" cellspacing="5" width="100%">
									<tr>
										<td>Ubicaión:</td>
										<td width="350">
											<select class="form-control" id="cboUbicacion">
											<option value="0">--- Selecciona un Estado ---</option>

                                                @foreach (Cat_Ubicacion ubicacion in Model)
                                                {
                                                    <option value=@ubicacion.UbicacionId>@ubicacion.Ubicacion_Estado</option>
                                                }

											</select>
										</td>
									</tr>
								</table>
							</div>
						</div>
						
                        <div id="alert_placeholder"></div>

						<hr class="dottedline">
						
						<div class="form-group" align="right">
							<input type="button" value="Continuar al paso 2" class="btn btn-primary" onclick="KeepDataStep1('@Url.Action("GuardarStep1")');">
						</div>
						
						
						
					</form>		
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					
						<br>
						<br>
						<label>Datos de la cotización:</label>
						<hr class="dottedline">
						<br>
						
						<div class="row form-group">
							<div class="col-md-12">
								En esta sección muestra los datos que vayas ingresando para tu cotización. Completa 3 sencillos pasos para generar una propuesta comercial para tu cliente.
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<table cellpadding="5" cellspacing="5" width="100%">
									<tr>
										<td class="label_color">Datos del Cliente</td>
									</tr>
									<tr>
										<td>Completa el paso 1.</td>
									</tr>
								</table>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
								<table cellpadding="5" cellspacing="5" width="100%">
									<tr>
										<td class="label_color">Activos</td>
									</tr>
									<tr>
										<td>Completa el paso 2.</td>
									</tr>
								</table>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
								<table cellpadding="5" cellspacing="5" width="100%">
									<tr>
										<td class="label_color">Datos del Financiamiento</td>
									</tr>
									<tr>
										<td>Completa el paso 3.</td>
									</tr>
								</table>
							</div>
						</div>
						
						<hr class="dottedline">
						
						<div class="form-group" align="right">
							<input type="submit" value="Generar Propuesta" class="btn btn-primary" disabled=disabled>
						</div>

				</div>
				</div>

			</div>
		</div>
	</div>



@Html.Partial("Modal")
