﻿@using EC.PRM.LogicaNegocio.Entities
@using EC.PRM.UI.Web.Models
@model QuotationModel

@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                    <form action="#">
                        <h3>Cotizar</h3>

                        <label class="label_color">2. </label><label>&nbsp; Agrega los activos a cotizar:</label>
                        <hr class="dottedline">

                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Familia:</td>
                                        <td width="350">
                                            <select class="form-control" id="cboFamilia">
                                                <option value="0">--- Elige una familia de productos ---</option>
                                                @foreach (Cat_ProductoFamilia familia in ViewBag.ProductoFamilias)
                                                {
                                                    <option value=@familia.ProductoFamiliaId>@familia.ProductoFamilia_Descripcion</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Producto:</td>
                                        <td width="350">
                                            <select class="form-control" id="cboProducto">
                                                <option value="na">--- Elige un producto ---</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Costo Equipo:</td>
                                        <td width="350">
                                            <input type="text" id="txtPrecio" class="form-control" 
                                                   placeholder=@(String.Format("${0}", 0)) 
                                                   disabled= disabled>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Cantidad:</td>
                                        <td width="350">
                                            <input type="text" id="txtCantidad" class="form-control" placeholder=0>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="form-group" align="right">
                            @*<input type="button" value="+ Agregar" class="btn btn-primary" onclick="agregarEquipo('@Url.Action("AddProduct")');">*@
                            <input type="button" value="+ Agregar" class="btn btn-primary" onclick="addRow();">
                        </div>

                        <div id="alert_placeholder"></div>

                        <div class="row form-group">
                            <div class="col-md-12" id="tblEquipos">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td class="label_color">Equipos</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        

                        <hr class="dottedline">

                        <div class="form-group" align="right">
                            <input type="button" value="Continuar al paso 3" class="btn btn-primary" onclick="keepDataStep2('@Url.Action("GuardarStep2")');">
                        </div>


                    </form>
                </div>
                <div class="col-md-5 col-md-push-1 animate-box">

                    <br>
                    <br>
                    <label>Datos de la cotización:</label>
                    <hr class="dottedline">
                    <br>

                    <div class="row form-group">
                        <div class="col-md-12">
                            En esta sección muestra los datos que vayas ingresando para tu cotización. Completa 3 sencillos pasos para generar una propuesta comercial para tu cliente.
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Datos del Cliente</td>
                                </tr>
                                <tr>
                                    <td>Cliente: @Model.ClienteNombre</td>
                                </tr>
                                <tr>
                                    <td>Contacto: @Model.ClienteContacto</td>
                                </tr>
                                <tr>
                                    <td>Correo: @Model.ClienteEmail</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Activos</td>
                                </tr>
                                <tr>
                                    <td>Completa el paso 2.</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Datos del Financiamiento</td>
                                </tr>
                                <tr>
                                    <td>Completa el paso 3.</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <hr class="dottedline">

                    <div class="form-group" align="right">
                        <input type="submit" value="Generar Propuesta" class="btn btn-primary" disabled= disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>