﻿@using EC.PRM.LogicaNegocio.Entities
@using EC.PRM.UI.Web.Models
@model QuotationModel

@{
    ViewBag.Title = "TablaAmortizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                    <form action="#">
                        @foreach (TablaAmortizacion tamortiza in Model.tablasAmortiza)
                        {
                        <h3>@String.Format("Tabla de Pagos {0} meses", tamortiza.PlazoMeses)</h3>

                        <hr class="dottedline">

                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td class="label_color">Periodo</td>
                                        <td class="label_color">Renta</td>
                                        <td class="label_color">IVA</td>
                                        <td class="label_color">Pago Total</td>
                                    </tr>
                                    @foreach (MensualidadAmortiza mesRegistro in tamortiza.TablaRegistros)
                                    {
                                    <tr>
                                        <td width="50">
                                            @mesRegistro.Periodo
                                        </td>
                                        <td width="150">
                                            @mesRegistro.RentaMonto.ToString("C")
                                        </td>
                                        <td width="150">
                                            @mesRegistro.IvaMonto.ToString("C")
                                        </td>
                                        <td width="150">
                                            @mesRegistro.PagoTotal.ToString("C")
                                        </td>
                                    </tr>
                                    }
                                </table>
                            </div>
                        </div>

                        <hr class="dottedline">
                        }

                    </form>
                </div>
                <div class="col-md-5 col-md-push-1 animate-box">


                    <label>Datos de la cotización:</label>
                    <hr class="dottedline">
                    <br>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Datos del Cliente</td>
                                </tr>
                                <tr>
                                    <td>Cliente: @Model.ClienteNombre</td>
                                </tr>
                                <tr>
                                    <td>Contacto: @Model.ClienteContacto</td>
                                </tr>
                                <tr>
                                    <td>Correo: @Model.ClienteEmail</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Activos</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            @foreach (EquipoModel equipo in Model.LstEquipos)
                                            {
                                                <tr>
                                                    <td width="350">
                                                        @String.Format("({0}) {1}", equipo.Cantidad, equipo.Producto)
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Datos del Financiamiento</td>
                                </tr>
                                <tr>
                                    <table cellpadding="5" cellspacing="5" width="100%">
                                        <tr>
                                            <td width="350">
                                                @Model.FinanciamientoTipo.FinanciamientoTipo_Descripcion
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="350">
                                                Moneda: @Model.FinanciamientoMoneda.Moneda_Codigo
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="350">
                                                Plazos: @foreach (Cat_FinanciamientoPlazo plazo in @Model.LstFinPlazos)
                                                {
                                                    @String.Format("{0},", plazo.FinanciamientoPlazo_Descripcion)
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <hr class="dottedline">

                </div>
            </div>
        </div>
    </div>
</div>
