﻿@model EC.PRM.UI.Web.Models.ImportLayoutModel

@{
    ViewBag.Title = "ImportDataFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("/Scripts/js/ImportLayout.js")

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="animate-box">

                    <h3>Importar datos desde layout.</h3>

                    <label>Aquí puedes cargar de forma masiva los registros de catálogos desde un archivo Excel.</label>
                    <hr class="dottedline">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 animate-box">
                                @switch (Model.catalogName)
                                {
                                    case "Asset":
                                        Html.RenderPartial("ImportAsset", Model);
                                        break;
                                    case "Target":
                                        Html.RenderPartial("ImportTarget", Model);
                                        break;
                                }
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
