﻿@using EC.PRM.LogicaNegocio.Entities
@using EC.PRM.UI.Web.Models;
@model UserProfileModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("/Scripts/js/UserProfile.js")

@if (!Model.CargadoCorrecto)
{
    <h3 style="color:red;margin-top:100px;">@Model.Mensajes</h3>
    return;
}

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">


        <div class="row">
            <div class="col-md-12">
                <div class="animate-box">

                    <h3>Catálogo de usuarios</h3>

                    <label>Consulta el listado de usuarios existentes y modifica si es necesario.</label>
                    <hr class="dottedline">
                    <table width="100%" style="margin-bottom:15px;">

                        <tbody>
                            <tr>
                                <td width="40%"><input type="text" id="txtBuscar" class="form-control" placeholder="Buscar usuario" value="@Model.dsearch"></td>
                                <td width="30%"><input type="submit" value="Buscar" class="btn btn-primary" onclick="filterTable('@Url.Action("Index")');"></td>
                                <td width="30%"></td>
                            </tr>
                        </tbody>
                    </table>

                    @if (Model != null && Model.lstUser.Count > 0)
                    {
                        <div>

                            @{
                                var grid = new WebGrid(Model.lstUser, canSort: false, rowsPerPage: 5, canPage: true);
                            }

                            @grid.GetHtml(
         htmlAttributes: new
         {
             id = "tblUser",
             width = "100%"
         },
         mode: WebGridPagerModes.All,
         tableStyle: "tb_body",
         headerStyle: "tb_head_black",
         firstText: "<< Primero ",
         previousText: "< Anterior |",
         nextText: "| Siguiente >",
         lastText: "Último >>",
         footerStyle: "footer",
         columns: grid.Columns(
             grid.Column("userId", "Id", canSort: true),
             grid.Column("profileId", "Id Perfil", canSort: false),
             grid.Column("vendorId", "Id Vendor", canSort: false),
             grid.Column("user", "Usuario", canSort: false),
             grid.Column("profile", "Perfil", canSort: false),
             grid.Column("vendor", "Vendor", canSort: false),
             grid.Column("firstName", "Nombre", canSort: false),
             grid.Column("lastName", "Apellidos", canSort: false),
             grid.Column("email", "Email", canSort:false),
             //grid.Column("program", "Programa", canSort: false),
             //grid.Column("programId", "Id Programa", canSort: false),
             grid.Column("pass", "Contraseña", canSort: false, style: "width: 5px;", format: @<input type="hidden" name="IDHidden" value="@item.pass" />))
                                    )
                        </div>
                                }
                                else
                                {
                                    <p> No existen registros</p>
                                }

                    <h3>Datos del usuario</h3>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table id="tblDataUser" cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Usuario:</td>
                                                <td width="350">
                                                    <input type="text" id="txtUsuario" class="form-control" placeholder="Usuario">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Contraseña:</td>
                                                <td width="350">
                                                    <input type="password" id="txtPassword" class="form-control" placeholder="Contraseña" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                @*<div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Programa:</td>
                                                <td width="350">
                                                    <select class="form-control" id="cboPrograma">
                                                        <option value="0">--- Selecciona un Programa ---</option>

                                                        @foreach (Ope_Program user in Model.lstProgram)
                                                        {
                                                            <option value=@user.ProgramId>@user.Program_Description</option>
                                                        }

                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>*@

                            </div>
                            <div class="col-md-6">

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Perfil:</td>
                                                <td width="350">
                                                    <select class="form-control" id="cboPerfil">
                                                        <option value="0">--- Selecciona un Perfil ---</option>

                                                        @foreach (Cat_UserProfile user in Model.lstProfile)
                                                        {
                                                            <option value=@user.UserProfileId>@user.UserProfile_Profile</option>
                                                        }

                                                    </select>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Vendor:</td>
                                                <td width="350">
                                                    <select class="form-control" id="cboVendor">
                                                        <option value="0">--- Selecciona un Vendor ---</option>

                                                        @foreach (Cat_Vendor user in Model.lstVendor)
                                                        {
                                                            <option value=@user.VendorId>@user.Vendor_Name</option>
                                                        }

                                                    </select>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <br />

                    <h3>Datos personales</h3>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td width="250px">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                                                </td>
                                                <td class="text-center">

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divPhoto">
                                                        <form id="form_upload_documents">

                                                            <input type="file" name="postedFile" id="file-2" class="inputfile" onChange="uploadPhoto(this, '@Url.Action("UploadPhoto")');" accept="image/*" />
                                                            <label for="file-2">
                                                                <span>
                                                                    <img id="imgUser" class="img-thumbnail" src="~/images/default-image.png" />
                                                                </span>
                                                            </label>


                                                            @Html.Hidden("idUser", "0")
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>


                            <div class="col-md-6">

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table id="tblDataUser" cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Nombre:</td>
                                                <td width="350">
                                                    <input type="text" id="txtNombreUsuario" class="form-control" placeholder="Nombre">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Apellidos:</td>
                                                <td width="350">
                                                    <input type="text" id="txtApellidos" class="form-control" placeholder="Apellidos" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            <tr>
                                                <td>Email:</td>
                                                <td width="350">
                                                    <input type="text" id="txtEmailUsuario" class="form-control" placeholder="Email" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                        </div>

                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 text-center">
                                <div class="col-md-12">
                                    <input type="button" value="Nuevo" class="btn btn-primary" onclick="newRow()">
                                </div>
                            </div>
                            <div class="col-md-4 text-center" id="btnGuardar">
                                <div class="col-md-12">
                                    <input type="button" value="Guardar" class="btn btn-primary" onclick="saveRow('@Url.Action("SaveUser")')">
                                </div>
                            </div>
                            <div class="col-md-4 text-center" id="btnActualizar">
                                <div class="col-md-12">
                                    <input type="button" value="Actualizar" class="btn btn-primary" onclick="updateRow('@Url.Action("UpdateUser")', true)">
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="col-md-12">
                                    <input type="button" value="Eliminar" class="btn btn-primary" onclick="updateRow('@Url.Action("UpdateUser")', false)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="txtUsuarioId" />



                </div>
            </div>
        </div>


    </div>
</div>


<style type="text/css">
    .tb_head_black
    {
      padding:5px 8px!important; 
      border-top:1px dotted; 
      border-bottom:1px dotted; 
      border-collapse:collapse;
      background-color:@Model.visualInfo.Visual_BannerColor;
      color:#FFF;  
      vertical-align:top; 
      border-color:#47D7AC;
    }
    @*
    .tb_body
    {
      width:100%;
      border-top:1px dotted;
      border-bottom:1px dotted;
      vertical-align:top;  
      border-color:@Model.visualInfo.Visual_BannerColor;
      margin-bottom:15px;
    }

    .tb_body th { padding:5px 8px!important; }
    .tb_body td { padding:5px 8px!important; cursor:pointer; }
    
    .dottedline{
    color:@Model.visualInfo.Visual_BannerColor !important; 
    border-top:2px dotted;
    }
    *@
</style>
