﻿@using EC.PRM.LogicaNegocio.Entities
@using EC.PRM.UI.Web.Models

@model EC.PRM.UI.Web.Models.QuotationModel

@{
    ViewBag.Title = "Step1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gtco-section gtco-gray-bg">
		<div class="gtco-container">
			<div class="row">

				<div class="col-md-12">
					<div class="col-md-6 animate-box">
					<form action="#">
					<h3>Cotiza - Paso 1 de 3</h3>
					
						<input type="hidden" id="hdQuoteId" value="@Model.CotizacionId" />
                        <input type="hidden" id="hdEvento" value="@Model.Evento" />

						<label class="label_color">1. </label><label>&nbsp;<strong> Primero, proporciona los datos del cliente:</strong></label>
						<hr class="dottedline">
						
						
						<div class="row form-group">
							<div class="col-md-12">
								<table cellpadding="5" cellspacing="5" width="100%">
									<tr>
										<td>Cliente:</td>
										<td width="350">
                                            <input type="text" id="txtCliente" class="form-control" placeholder="Nombre de la empresa" required="true">
                                            @*@if (Model != null && !String.IsNullOrEmpty(Model.ClienteNombre))
                                            {
                                                <input type="text" id="txtCliente" class="form-control" placeholder="Cliente" value="@Model.ClienteNombre" required="true">
                                            }
                                            else
                                            {
                                                <input type="text" id="txtCliente" class="form-control" placeholder="Cliente" required="true">
                                            }*@
										</td>
									</tr>
								</table>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
								<table cellpadding="5" cellspacing="5" width="100%" class="resetme">
									<tr>
										<td>Contacto:</td>
										<td width="350">
                                            <input type="text" id="txtContacto" class="form-control" placeholder="Nombre de la persona">
                                            @*@if (Model != null && !String.IsNullOrEmpty(Model.ClienteContacto))
                                            {
                                                <input type="text" id="txtContacto" class="form-control" placeholder="Contacto" value="@Model.ClienteContacto">
                                            }
                                            else
                                            {
                                                <input type="text" id="txtContacto" class="form-control" placeholder="Contacto">
                                            }*@
										</td>
									</tr>
								</table>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
								<table cellpadding="5" cellspacing="5" width="100%">
									<tr>
										<td>Correo electrónico:</td>
										<td width="350">
                                            <input type="text" id="txtEmail" class="form-control" placeholder="Al que se le mandará la cotización">
                                            @*@if (Model != null && !String.IsNullOrEmpty(Model.ClienteContacto))
                                            {
                                                <input type="text" id="txtEmail" class="form-control" placeholder="e-mail" value="@Model.ClienteEmail">
                                            }
                                            else
                                            {
                                                <input type="text" id="txtEmail" class="form-control" placeholder="e-mail">
                                            }*@
										</td>
									</tr>
								</table>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
								<table cellpadding="5" cellspacing="5" width="100%">
									<tr>
										<td>Ubicación:</td>
										<td width="350">
											<select class="form-control" id="cboUbicacion">
											<option value="0">--- Selecciona en dónde está el cliente ---</option>

                                                @foreach (Cat_Location ubicacion in Model.LstUbicacion)
                                                {
                                                    <option value=@ubicacion.LocationId>@ubicacion.Location_Name</option>
                                                }

											</select>
										</td>
									</tr>
								</table>
							</div>
						</div>
						
                        <div id="alert_placeholder"></div>

						<hr class="dottedline">
						
						<div class="form-group" align="right">
                            @if (!String.IsNullOrEmpty(Model.Evento) && Model.Evento.Equals("clone"))
                            {
                                <input type="button" value="Finalizar" class="btn btn-primary" onclick="KeepDataStep1('@Url.Action("GuardarStep1")');">
                            }
                            else
                            {
                                <input type="button" value="Ir al paso 2" class="btn btn-primary" onclick="KeepDataStep1('@Url.Action("GuardarStep1")');">
                            }
						</div>
						
						
						
					</form>		
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					
						<br>
						<br>
						<label>Datos de la cotización:</label>
						<hr class="dottedline">
						<br>
						
						<div class="row form-group">
							<div class="col-md-12">
                                Conforme vayas avanzando, se irán llenando los datos, para que, al finalizar los 3 sencillos pasos, puedas revisarlos.
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
                                @*@if (String.IsNullOrEmpty(Model.ClienteNombre))*@
                                
                                    <table cellpadding="5" cellspacing="5" width="100%">
                                        <tr>
                                            <td class="label_color">Datos del Cliente</td>
                                        </tr>
                                        <tr>
                                            <td>@*Completa el paso 1.*@</td>
                                        </tr>
                                    </table>
                                
                                @*else
                                {
                                    <table cellpadding="5" cellspacing="5" width="100%">
                                        <tr>
                                            <td class="label_color">Datos del Cliente</td>
                                        </tr>
                                        <tr>
                                            <td>Cliente: @Model.ClienteNombre</td>
                                        </tr>
                                        <tr>
                                            <td>Contacto: @Model.ClienteContacto</td>
                                        </tr>
                                        <tr>
                                            <td>Correo: @Model.ClienteEmail</td>
                                        </tr>
                                    </table>
                                }*@
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
                                @if (Model.LstEquipos != null)
                                {
                                    <table cellpadding="5" cellspacing="5" width="100%">
                                        <tr>
                                            <td class="label_color">Activos</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @*Completa el paso 2.*@
                                                @*<table cellpadding="5" cellspacing="5" width="100%">
                                                    @foreach (EquipoModel equipo in Model.LstEquipos)
                                                    {
                                                        <tr>
                                                            <td width="350">
                                                                @String.Format("({0}) {1} ({2})", equipo.Cantidad, equipo.Producto, equipo.Precio.ToString("C"))
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>*@
                                            </td>
                                        </tr>
                                    </table>
                                }
                                else
                                {
                                    <table cellpadding="5" cellspacing="5" width="100%">
                                        <tr>
                                            <td class="label_color">Activos</td>
                                        </tr>
                                        <tr>
                                            <td>@*Completa el paso 2.*@</td>
                                        </tr>
                                    </table>
                                }
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
                                @if (Model.FinanciamientoTipo != null)
                                {
                                    <table cellpadding="5" cellspacing="5" width="100%">
                                        <tr>
                                            <td class="label_color">Condiciones del Financiamiento</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellpadding="5" cellspacing="5" width="100%">
                                                    <tr>
                                                        <td width="350">
                                                            @Model.FinanciamientoTipo.FinancialType_Description
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="350">
                                                            Moneda: @Model.FinanciamientoMoneda.Currency_Code
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="350">
                                                            Plazo: @Model.FinanciamientoPlazo.FinancialTerm_Description
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                }
                                else
                                {
                                    <table cellpadding="5" cellspacing="5" width="100%">
                                        <tr>
                                            <td class="label_color">Condiciones del Financiamiento</td>
                                        </tr>
                                        <tr>
                                            <td>@*Completa el paso 3.*@</td>
                                        </tr>
                                    </table>
                                }
							</div>
						</div>
						
						<hr class="dottedline">
						
						@*<div class="form-group" align="right">
							<input type="submit" value="Generar Propuesta" class="btn btn-primary" disabled="disabled">
						</div>*@

				</div>
				</div>

			</div>
		</div>
	</div>



@Html.Partial("Modal")
