﻿@using EC.PRM.LogicaNegocio.Entities
@using EC.PRM.UI.Web.Models
@using System.Reflection;
@model QuotationModel

@{
    ViewBag.Title = "Step3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("/Scripts/js/QuotationStep3.js")

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                    <form action="#">
                        <h3>Cotiza - Paso 3 de 3</h3>


                        <label class="label_color">3. </label><label>&nbsp; <strong>Finalmente, configura los parámetros del financiamiento.</strong></label>
                        <hr class="dottedline">


                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Producto:</td>
                                        <td width="350">
                                            @foreach (Cat_FinancialType finTipo in ViewBag.LstFinTipo)
                                            {
                                                if (Model.FinanciamientoTipo != null)
                                                {
                                                    if (Model.FinanciamientoTipo.FinancialTypeId == finTipo.FinancialTypeId)
                                                    {
                                                    @Html.RadioButton("cbxFinTipo", finTipo.FinancialTypeId, true);
                                                    }
                                                    else
                                                    {
                                                    @Html.RadioButton("cbxFinTipo", finTipo.FinancialTypeId, false);
                                                    }
                                                }
                                                else
                                                {
                                                    @Html.RadioButton("cbxFinTipo", finTipo.FinancialTypeId, true);
                                                }

                                                <label>@finTipo.FinancialType_Description</label>
                                                <label>&nbsp;&nbsp;</label>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Moneda:</td>
                                        <td width="350">
                                            @foreach (Cat_Currency moneda in ViewBag.LstMoneda)
                                            {
                                                if (Model.FinanciamientoMoneda != null)
                                                {
                                                    if (Model.FinanciamientoMoneda.CurrencyId == moneda.CurrencyId)
                                                    {
                                                        @Html.RadioButton("cbxMoneda", moneda.CurrencyId, true);
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButton("cbxMoneda", moneda.CurrencyId, false);
                                                    }
                                                }
                                                else
                                                {
                                                    @Html.RadioButton("cbxMoneda", moneda.CurrencyId, true);
                                                }
                                                <label>@moneda.Currency_Code</label>
                                                <label>&nbsp;&nbsp;</label>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Plazo:</td>
                                        <td width="350">
                                            <div>
                                                @foreach (Cat_FinancialTerm finPlazo in ViewBag.LstFinPlazo)
                                                {
                                                    <div>
                                                        @if (Model.FinanciamientoPlazo != null)
                                                        {
                                                            if (Model.FinanciamientoPlazo.FinancialTermId == finPlazo.FinancialTermId)
                                                            {
                                                                if (ViewBag.LstPlazoTarget.Contains(finPlazo))
                                                                {
                                                                    @Html.RadioButton("cbxFinPlazo", finPlazo.FinancialTermId, true)
                                                                }
                                                                else
                                                                {
                                                                    @Html.RadioButton("cbxFinPlazo", finPlazo.FinancialTermId, false, new { disabled = "disabled" })
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (ViewBag.LstPlazoTarget.Contains(finPlazo))
                                                                {
                                                                    @Html.RadioButton("cbxFinPlazo", finPlazo.FinancialTermId, false)
                                                                }
                                                                else
                                                                {
                                                                    @Html.RadioButton("cbxFinPlazo", finPlazo.FinancialTermId, false, new { disabled = "disabled" })
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.LstPlazoTarget.Contains(finPlazo))
                                                            {
                                                                @Html.RadioButton("cbxFinPlazo", finPlazo.FinancialTermId, true)
                                                            }
                                                            else
                                                            {
                                                                @Html.RadioButton("cbxFinPlazo", finPlazo.FinancialTermId, false, new { disabled = "disabled" })
                                                            }
                                                        }
                                                        <label>@finPlazo.FinancialTerm_Description</label>
                                                        <label>&nbsp;&nbsp;</label>
                                                    </div>
                                                }
                                            </div>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        @*<div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Opción de compra:</td>
                                        <td width="350">
                                            <input type="radio" id="cbxPOption" name="cbxPOption" value="true" checked="checked"> Yes <label>&nbsp;</label>
                                            <input type="radio" id="cbxPOption" name="cbxPOption" value="false"> No
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>*@

                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Seguro financiado:</td>
                                        <td width="350">
                                            @if (ViewBag.PermitirSeguro)
                                            {
                                                <input type="radio" id="cbxSecFinanciado" name="cbxSecFinanciado" value="true" checked="checked" /><label>&nbsp; Si &nbsp;</label>
                                                <input type="radio" id="cbxSecFinanciado" name="cbxSecFinanciado" value="false" /><label>&nbsp; No &nbsp;</label>
                                            }
                                            else
                                            {
                                                <input type="radio" id="cbxSecFinanciado" name="cbxSecFinanciado" value="true" disabled="disabled"/><label>&nbsp; Si &nbsp;</label>
                                                <input type="radio" id="cbxSecFinanciado" name="cbxSecFinanciado" value="false" checked="checked" /><label>&nbsp; No &nbsp;</label>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div id="alert_placeholder"></div>

                        <div class="row form-group" id="contentInputs">
                            <div class="col-md-12">
                                @{
                                    var ocultarBalPay = ViewBag.Input.ProgramInput_BalloonPaymentVer ? "" : "hidden='hidden'";
                                    var ocultarPurOpt = ViewBag.Input.ProgramInput_PurchaseOptionVer ? "" : "hidden='hidden'";
                                    var ocultarOpFee = ViewBag.Input.ProgramInput_OpFeeVer ? "" : "hidden='hidden'";
                                    var ocultarSecDep = ViewBag.Input.ProgramInput_SecurityDepositVer ? "" : "hidden='hidden'";
                                    var ocultarBliDis = ViewBag.Input.ProgramInput_BlindDiscountVer ? "" : "hidden='hidden'";
                                    var ocultarRefFee = ViewBag.Input.ProgramInput_ReferalFeeVer ? "" : "hidden='hidden'";
                                    var ocultarDelay = ViewBag.Input.ProgramInput_DelayVer ? "" : "hidden='hidden'";
                                    var ocultarGraMon = ViewBag.Input.ProgramInput_GraceMonthsVer ? "" : "hidden='hidden'";
                                    var ocultarAddCos = ViewBag.Input.ProgramInput_AdditionalCostsVer ? "0" : "1";
                                    var ocultarLegFee = ViewBag.Input.ProgramInput_LegalFeesVer ? "0" : "1";
                                    var ocultarDown = ViewBag.Input.ProgramInput_DownpaymentVer ? "" : "hidden='hidden'";

                                    var spinBalPay = ViewBag.Input.ProgramInput_BalloonPaymentUse && String.IsNullOrEmpty(ocultarBalPay) ? "" : "hidden='hidden'";
                                    var spinPurOpt = ViewBag.Input.ProgramInput_PurchaseOptionUse && String.IsNullOrEmpty(ocultarPurOpt) ? "" : "hidden='hidden'";
                                    var spinOpFee = ViewBag.Input.ProgramInput_OpFeeUse && String.IsNullOrEmpty(ocultarOpFee) ? "" : "hidden='hidden'";
                                    var spinSecDep = ViewBag.Input.ProgramInput_SecurityDepositUse && String.IsNullOrEmpty(ocultarSecDep) ? "" : "hidden='hidden'";

                                    var spinValBalPay = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_BalloonPayment :
                                        ViewBag.Input.ProgramInput_BalloonPaymentUse ? ViewBag.Input.ProgramInput_BalloonPaymentMin : 0;
                                    var spinValPurOpt = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_PurchaseOption :
                                        ViewBag.Input.ProgramInput_PurchaseOptionUse ? ViewBag.Input.ProgramInput_PurchaseOptionMin : 0;
                                    var spinValOpFee = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_OpFee :
                                        ViewBag.Input.ProgramInput_OpFeeUse ? ViewBag.Input.ProgramInput_OpFeeMin : 0;
                                    var spinValSecDep = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_SecurityDeposit :
                                        ViewBag.Input.ProgramInput_SecurityDepositUse ? ViewBag.Input.ProgramInput_SecurityDepositMin : 0;
                                    var spinValBliDis = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_BlindDiscount :
                                        ViewBag.Input.ProgramInput_BlindDiscountUse ? ViewBag.Input.ProgramInput_BlindDiscountMin : 0;
                                    var spinValRefFee = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_ReferalFee :
                                        ViewBag.Input.ProgramInput_ReferalFeeUse ? ViewBag.Input.ProgramInput_ReferalFeeMin : 0;
                                    var spinValDown = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_Downpayment :
                                        ViewBag.Input.ProgramInput_DownpaymentUse ? ViewBag.Input.ProgramInput_DownpaymentMin : 0;
                                    var spinValDelay = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_Delay :
                                        ViewBag.Input.ProgramInput_DelayUse ? ViewBag.Input.ProgramInput_DelayMin : 0;
                                    var spinValGraMon = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_GraceMonths :
                                        ViewBag.Input.ProgramInput_GraceMonthsUse ? ViewBag.Input.ProgramInput_GraceMonthsMin : 0;
                                    var spinValAddCos = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_AdditionalCosts :
                                        ViewBag.Input.ProgramInput_AdditionalCostsUse ? ViewBag.Input.ProgramInput_AdditionalCostsMin : 0;
                                    var spinValAddCosMXN = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_AdditionalCosts :
                                        ViewBag.Input.ProgramInput_AdditionalCostsUse ? ViewBag.Input.ProgramInput_AdditionalCostsMXNMin : 0;
                                    var spinValLegFee = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_LegalFees :
                                        ViewBag.Input.ProgramInput_LegalFeesUse ? ViewBag.Input.ProgramInput_LegalFeesMin : 0;
                                    var spinValLegFeeMXN = Model.Evento.Equals("edit") ? Model.quotInputInfo.QuotInput_LegalFees :
                                        ViewBag.Input.ProgramInput_LegalFeesUse ? ViewBag.Input.ProgramInput_LegalFeesMXNMin : 0;
                                }
                                <div class="slidecontainer" >
                                    <table cellpadding="5" cellspacing="5" width="100%">
                                        <tr>
                                            <td width="35%"></td>
                                            <td width="5%"></td>
                                            <td width="50%"></td>
                                            <td width="10%"></td>
                                        </tr>
                                        <tr @ocultarBalPay>
                                            <td>
                                                <label id="lblBalloonPayment">"Balloon Payment"</label>
                                            </td>
                                            <td></td>
                                            <td>
                                                <input type="text" id="txtBalloonPayment" disabled="disabled" class="form-control" />
                                            </td>
                                            <td>
                                                <label id="lblsBalloonPayment">%</label>
                                            </td>
                                        </tr>
                                        <tr @spinBalPay>
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_BalloonPaymentMin"
                                                       max="@ViewBag.Input.ProgramInput_BalloonPaymentMax"
                                                       value="@spinValBalPay"
                                                       step="@ViewBag.Input.ProgramInput_BalloonPaymentInc"
                                                       class="slider" id="sldBalloonPayment">
                                            </td>
                                        </tr> 
                                        <tr @ocultarPurOpt>
                                            <td>
                                                <label id="lblPurchaseOption">Opción de compra</label>
                                            </td>
                                            <td></td>
                                            <td>
                                                <input type="text" id="txtPurchaseOption" disabled="disabled" class="form-control" />
                                            </td>
                                            <td>
                                                <label id="lblsPurchaseOption">%</label>
                                            </td>
                                        </tr>
                                        <tr @spinPurOpt>
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_PurchaseOptionMin"
                                                       max="@ViewBag.Input.ProgramInput_PurchaseOptionMax"
                                                       value="@spinValPurOpt"
                                                       step="@ViewBag.Input.ProgramInput_PurchaseOptionInc"
                                                       class="slider" id="sldPurchaseOption">
                                            </td>
                                        </tr>
                                        <tr @ocultarOpFee.Replace("'", "")>
                                            <td>Comisión por apertura</td>
                                            <td></td>
                                            <td>
                                                <input type="text" id="txtOpFee" disabled="disabled" class="form-control" />
                                            </td>
                                            <td>%</td>
                                        </tr>
                                        <tr @spinOpFee.Replace("'", "")>
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_OpFeeMin"
                                                       max="@ViewBag.Input.ProgramInput_OpFeeMax"
                                                       value="@spinValOpFee"
                                                       step="@ViewBag.Input.ProgramInput_OpFeeInc"
                                                       class="slider" id="sldOpFee">
                                            </td>
                                        </tr>
                                        <tr @ocultarSecDep>
                                            <td>Deposito de seguridad</td>
                                            <td></td>
                                            <td>
                                                <input type="text" id="txtSecurityDeposit" disabled="disabled" class="form-control" />
                                            </td>
                                            <td>%</td>
                                        </tr>
                                        <tr @spinSecDep>
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_SecurityDepositMin"
                                                       max="@ViewBag.Input.ProgramInput_SecurityDepositMax"
                                                       value="@spinValSecDep"
                                                       step="@ViewBag.Input.ProgramInput_SecurityDepositInc"
                                                       class="slider" id="sldSecurityDeposit">
                                            </td>
                                        </tr>
                                        <tr @ocultarBliDis>
                                            <td>Descuento ciego</td>
                                            <td></td>
                                            <td>
                                                <input type="text" id="txtBlindDiscount" disabled="disabled" class="form-control" />
                                            </td>
                                            <td>%</td>
                                        </tr>
                                        <tr @ocultarBliDis>
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_BlindDiscountMin"
                                                       max="@ViewBag.Input.ProgramInput_BlindDiscountMax"
                                                       value="@spinValBliDis"
                                                       step="@ViewBag.Input.ProgramInput_BlindDiscountInc"
                                                       class="slider" id="sldBlindDiscount">
                                            </td>
                                        </tr>
                                        <tr @ocultarRefFee>
                                            <td>Comisión por cliente referido</td>
                                            <td></td>
                                            <td>
                                                <input type="text" id="txtReferalFee" disabled="disabled" class="form-control" />
                                            </td>
                                            <td>%</td>
                                        </tr>
                                        <tr @ocultarRefFee>
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_ReferalFeeMin"
                                                       max="@ViewBag.Input.ProgramInput_ReferalFeeMax"
                                                       value="@spinValRefFee"
                                                       step="@ViewBag.Input.ProgramInput_ReferalFeeInc"
                                                       class="slider" id="sldReferalFee">
                                            </td>
                                        </tr>

                                        <tr @ocultarDown>
                                            <td>Enganche</td>
                                            <td></td>
                                            <td>
                                                <input type="text" id="txtDownpayment" disabled="disabled" class="form-control" />
                                            </td>
                                            <td>%</td>
                                        </tr>
                                        <tr @ocultarDown>
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_DownpaymentMin"
                                                       max="@ViewBag.Input.ProgramInput_DownpaymentMax"
                                                       value="@spinValDown"
                                                       step="@ViewBag.Input.ProgramInput_DownpaymentInc"
                                                       class="slider" id="sldDownpayment">
                                            </td>
                                        </tr>

                                        <tr @ocultarDelay>
                                            <td>Demora</td>
                                            <td>#</td>
                                            <td>
                                                <input type="text" id="txtDelay" disabled="disabled" class="form-control" />
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr @ocultarDelay>
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_DelayMin"
                                                       max="@ViewBag.Input.ProgramInput_DelayMax"
                                                       value="@spinValDelay"
                                                       step="@ViewBag.Input.ProgramInput_DelayInc"
                                                       class="slider" id="sldDelay">
                                            </td>
                                        </tr>
                                        <tr @ocultarGraMon>
                                            <td>Meses de gracia</td>
                                            <td>#</td>
                                            <td>
                                                <input type="text" id="txtGraceMonths" disabled="disabled" class="form-control" />
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr @ocultarGraMon>
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_GraceMonthsMin"
                                                       max="@ViewBag.Input.ProgramInput_GraceMonthsMax"
                                                       value="@spinValGraMon"
                                                       step="@ViewBag.Input.ProgramInput_GraceMonthsInc"
                                                       class="slider" id="sldGraceMonths">
                                            </td>
                                        </tr>
                                        <tr hidden="hidden" id="rowTxtAdditionalCosts">
                                            <td>Costos adicionales</td>
                                            <td>$</td>
                                            <td>
                                                <input type="text" id="txtAdditionalCosts" disabled="disabled" class="form-control" />
                                                <input type="hidden" id="hdAdditionalCostsHide" value=@ocultarAddCos />
                                            </td>
                                            <td>(USD)</td>
                                        </tr>
                                        <tr hidden="hidden" id="rowSldAdditionalCosts">
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_AdditionalCostsMin"
                                                       max="@ViewBag.Input.ProgramInput_AdditionalCostsMax"
                                                       value="@spinValAddCos"
                                                       step="@ViewBag.Input.ProgramInput_AdditionalCostsInc"
                                                       class="slider" id="sldAdditionalCosts">
                                            </td>
                                        </tr>
                                        <tr id="rowTxtAdditionalCostsMXN">
                                            <td>Costos adicionales</td>
                                            <td>$</td>
                                            <td>
                                                <input type="text" id="txtAdditionalCostsMXN" disabled="disabled" class="form-control" />
                                            </td>
                                            <td>(MXN)</td>
                                        </tr>
                                        <tr id="rowSldAdditionalCostsMXN">
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_AdditionalCostsMXNMin"
                                                       max="@ViewBag.Input.ProgramInput_AdditionalCostsMXNMax"
                                                       value="@spinValAddCosMXN"
                                                       step="@ViewBag.Input.ProgramInput_AdditionalCostsMXNInc"
                                                       class="slider" id="sldAdditionalCostsMXN">
                                            </td>
                                        </tr>
                                        <tr hidden="hidden" id="rowTxtLegalFee">
                                            <td>Cuota legal</td>
                                            <td>$</td>
                                            <td>
                                                <input type="text" id="txtLegalFees" disabled="disabled" class="form-control" />
                                                <input type="hidden" id="hdLegalFeesHide" value=@ocultarLegFee />
                                            </td>
                                            <td>(USD)</td>
                                        </tr>
                                        <tr hidden="hidden" id="rowSldLegalFee">
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_LegalFeesMin"
                                                       max="@ViewBag.Input.ProgramInput_LegalFeesMax"
                                                       value="@spinValLegFee"
                                                       step="@ViewBag.Input.ProgramInput_LegalFeesInc"
                                                       class="slider" id="sldLegalFees">
                                            </td>
                                        </tr>
                                        <tr id="rowTxtLegalFeeMXN">
                                            <td>Cuota legal</td>
                                            <td>$</td>
                                            <td>
                                                <input type="text" id="txtLegalFeesMXN" disabled="disabled" class="form-control" />
                                            </td>
                                            <td>(MXN)</td>
                                        </tr>
                                        <tr id="rowSldLegalFeeMXN">
                                            <td colspan="4">
                                                <input type="range"
                                                       min="@ViewBag.Input.ProgramInput_LegalFeesMXNMin"
                                                       max="@ViewBag.Input.ProgramInput_LegalFeesMXNMax"
                                                       value="@spinValLegFeeMXN"
                                                       step="@ViewBag.Input.ProgramInput_LegalFeesMXNInc"
                                                       class="slider" id="sldLegalFeesMXN">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        @*<div class="row form-group" id="contentInputs">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    @{
                                        PropertyInfo propMin = null;
                                        PropertyInfo propMax = null;
                                        PropertyInfo propInc = null;
                                    }
                                    @foreach (var prop in ViewBag.Input.GetType().GetProperties())
                                    {
                                        if (!prop.Name.Contains("ProgramInputId") && !prop.Name.Contains("ProgramInput_ProgramId")
                                            && !prop.Name.Contains("ResidualValue"))
                                        {
                                            if (prop.Name.Contains("Min"))
                                            {
                                                propMin = prop;
                                            }
                                            else if (prop.Name.Contains("Max"))
                                            {
                                                propMax = prop;
                                            }
                                            else if (prop.Name.Contains("Inc"))
                                            {
                                                propInc = prop;
                                                <tr>
                                                    <td width="20%">@prop.Name.Substring(prop.Name.IndexOf("_") + 1, prop.Name.Length - prop.Name.IndexOf("_") - 4):</td>
                                                    <td width="30%">
                                                        <input type="number"
                                                               id=@prop.Name
                                                               value=@propMin.GetValue(ViewBag.Input)
                                                               step=@propInc.GetValue(ViewBag.Input)
                                                               min=@propMin.GetValue(ViewBag.Input)
                                                               max=@propMax.GetValue(ViewBag.Input)
                                                               class="form-control" />
                                                    </td>
                                                    <td width="50%"></td>
                                                </tr>
                                            }
                                        }
                                    }


                                </table>
                            </div>
                        </div>*@

                        <hr class="dottedline">

                        <div class="col-md-6" align="left">
                            <input type="button" value="Regresar al paso 2" class="btn btn-primary" onclick="previousStep();">
                        </div>

                        <div class="form-group" align="right">
                            <input type="button" value="Finalizar" class="btn btn-primary" onclick="calculatePayment('@Url.Action("TablaAmortizacion")');" />@*onclick="keepDataStep3('@Url.Action("GuardarStep3")');">*@
                        </div>




                    </form>
                </div>
                <div class="col-md-5 col-md-push-1 animate-box">

                    <br>
                    <br>
                    <label>Datos de la cotización:</label>
                    <hr class="dottedline">
                    <br>

                    <div class="row form-group">
                        <div class="col-md-12" style="text-align:justify">
                            Ahora también revisa los datos de los activos, puedes modificarlos dando clic en “Regresar al paso 2”. Al terminar de configurar el financiamiento, da clic en el botón “Calcular” para ver las condiciones antes de finalizar la cotización.
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Datos del Cliente</td>
                                </tr>
                                <tr>
                                    <td>Cliente: @Model.ClienteNombre</td>
                                </tr>
                                <tr>
                                    <td>Contacto: @Model.ClienteContacto</td>
                                </tr>
                                <tr>
                                    <td>Correo: @Model.ClienteEmail</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Activos</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            @foreach (EquipoModel equipo in Model.LstEquipos)
                                            {
                                                <tr>
                                                    <td width="350">
                                                        @String.Format("({0}) {1} ({2} {3})", equipo.Cantidad, equipo.Producto, equipo.Moneda, equipo.Precio.ToString("C"))
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Datos del Financiamiento</td>
                                </tr>
                                <tr>
                                    <td><label id="txtFinanciamiento" style="white-space: pre-wrap">Revísalas dando clic en el botón “Calcular”</label></td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <hr class="dottedline">

                    <div class="col-md-6" align="left">
                        
                    </div>

                    <div class="col-md-6" align="right">
                        <input type="button" value="Calcular" class="btn btn-primary" onclick="calculatePayment('@Url.Action("Calculate")');">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>