﻿@using EC.PRM.LogicaNegocio.Entities
@using EC.PRM.UI.Web.Models
@model QuotationModel

@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                    <form action="#">
                        <h3>Cotiza - Paso 2 de 3</h3>

                        <label class="label_color">2. </label><label>&nbsp; <strong>Ahora, proporciona los datos de los activos.</strong></label>
                        <hr class="dottedline">

                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Programa:</td>
                                        <td width="350">
                                            <select class="form-control" id="cboPrograma" disabled="disabled">
                                                <option value="0">--- Elige un programa de financiamiento ---</option>
                                                @foreach (Ope_Program programa in ViewBag.Programas)
                                                {
                                                    if (programa.ProgramId == ViewBag.ProgramId)
                                                    {
                                                        <option value=@programa.ProgramId selected="selected">@programa.Program_Description</option>
                                                    }
                                                    else
                                                    {
                                                    <option value=@programa.ProgramId>@programa.Program_Description</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Grupo:</td>
                                        <td width="350">
                                            <select class="form-control" id="cboFamilia">
                                                <option value="0">--- Elige un grupo de activos ---</option>
                                                @foreach (Cat_AssetCollateral familia in ViewBag.ProductoFamilias)
                                                {
                                                    <option value=@familia.AssetCollateralId>@familia.AssetCollateral_Description</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Activo:</td>
                                        <td width="350">
                                            <select class="form-control" id="cboProducto">
                                                <option value="na">--- Elige un activo ---</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Costo Equipo: &nbsp;<label id="lblMoneda"></label></td>
                                        <td width="350">
                                            <input type="text" id="txtPrecio" class="form-control"
                                                   placeholder="0" >
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Cantidad:</td>
                                        <td width="350">
                                            <input type="text" id="txtCantidad" class="form-control" placeholder=0>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="form-group" align="right">
                            <input type="button" value="+ Agregar" class="btn btn-primary" onclick="addRow();">
                        </div>

                        <div id="alert_placeholder"></div>

                        <div class="row form-group">

                            <div class="col-md-12" id="tblEquipos">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td class="label_color">Equipos</td>
                                    </tr>
                                     @if (Model.LstEquipos != null)
                                     {
                                         foreach(EquipoModel elemento in Model.LstEquipos)
                                         {
                                             <tr>
                                                 <td width="5%">
                                                     @String.Format("({0})", elemento.Cantidad)
                                                 </td>
                                                 <td width="55%">
                                                     @String.Format("{0}", elemento.Producto)
                                                 </td>
                                                 <td width="20%">
                                                     @String.Format("{0:n0}", elemento.Precio)
                                                 </td>
                                                 <td width="20%" class="delete-row" style="cursor: pointer; color: #7ad98f">(Eliminar)</td>
                                                 <td class="td_id" style="display:none;">
                                                     @String.Format("{0}", elemento.ProductoId)
                                                 </td>
                                             </tr>
                                         }
                                     }
                                </table>
                            </div>

                        </div>


                        @*<div class="col-md-12" id="tblEquipos">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tbody>
                                    <tr>
                                        <td class="label_color">Equipos</td>
                                    </tr>
                                    <tr><td width="5%">(1)</td><td width="55%">Spec Pesado / Transmisión Manual-18 / Motor Cummins ISX / Dormitorio 42"</td><td width="20%">1,732,759</td><td width="20%" class="delete-row" style="cursor: pointer; color: #7ad98f">(Eliminar)</td><td class="td_id" style="display:none;">1</td></tr>
                                </tbody>
                            </table>
                        </div>*@

                        <hr class="dottedline">

                        <div class="col-md-6" align="left">
                            <input type="button" value="Regresar al paso 1" class="btn btn-primary" onclick="previousStep();">
                        </div>

                        <div class="form-group" align="right">
                            <input type="button" value="Ir al paso 3" class="btn btn-primary" onclick="keepDataStep2('@Url.Action("GuardarStep2")');">
                        </div>


                    </form>
                </div>
                <div class="col-md-5 col-md-push-1 animate-box">

                    <br>
                    <br>
                    <label>Datos de la cotización:</label>
                    <hr class="dottedline">
                    <br>

                    <div class="row form-group">
                        <div class="col-md-12">
                            Revisa los datos del cliente y si requieres modificar algo, da clic en el botón “Regresar al paso 1".
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Datos del Cliente</td>
                                </tr>
                                <tr>
                                    <td>Cliente: @Model.ClienteNombre</td>
                                </tr>
                                <tr>
                                    <td>Contacto: @Model.ClienteContacto</td>
                                </tr>
                                <tr>
                                    <td>Correo: @Model.ClienteEmail</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Activo(s)</td>
                                </tr>
                                <tr>
                                    <td>Completa el paso 2.</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Condiciones del Financiamiento</td>
                                </tr>
                                <tr>
                                    <td>@*Completa el paso 3.*@</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <hr class="dottedline">

                    @*<div class="form-group" align="right">
                        <input type="submit" value="Generar Propuesta" class="btn btn-primary" disabled= disabled>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>