﻿@using EC.PRM.LogicaNegocio.Entities
@using EC.PRM.UI.Web.Models
@model QuotationModel

@{
    ViewBag.Title = "Step4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                    <form action="#">
                        <h3>Cotizar</h3>


                        <label class="label_color">4. </label><label>&nbsp; Revisión de datos a cotizar:</label>
                        <hr class="dottedline">

                        <div class="row form-group">
                            <div class="col-md-12">
                                Revisa los datos que seleccionaste en la sección de la derecha para generar una propuesta, si los productos lo permiten, puedes aplicar y están habilitados puedes elegir algún apoyo en precio para tu cliente.
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Delay Payment:</td>
                                        <td width="350">
                                            <input type="radio" id="cbxDelay" name="cbxDelay" value="true" > Yes <label>&nbsp;</label>
                                            <input type="radio" id="cbxDelay" name="cbxDelay" value="false" checked="checked"> No
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>



                        <div class="row form-group">
                            <div class="col-md-12">
                                <table cellpadding="5" cellspacing="5" width="100%">
                                    <tr>
                                        <td>Blind Discount:</td>
                                        <td width="350">
                                            <input type="radio" id="cbxDiscount" name="cbxDiscount" value="0" checked="checked"> 0% <label>&nbsp;</label>
                                            <input type="radio" id="cbxDiscount" name="cbxDiscount" value="3"> 3% <label>&nbsp;</label>
                                            <input type="radio" id="cbxDiscount" name="cbxDiscount" value="5"> 5%  <label>&nbsp;</label>
                                            <input type="radio" id="cbxDiscount" name="cbxDiscount" value="7"> 7%
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="alert_placeholder"></div>
                        <hr class="dottedline">

                        <div class="form-group" align="right">
                            <input type="button" value="(Opcional) Aplicar Apoyo a Precio" class="btn btn-primary" onclick="setDiscount('@Url.Action("SetDiscount")');">
                        </div>




                    </form>
                </div>
                <div class="col-md-5 col-md-push-1 animate-box">

                    <br>
                    <br>
                    <label>Datos de la cotización:</label>
                    <hr class="dottedline">
                    <br>

                    <div class="row form-group">
                        <div class="col-md-12">
                            En esta sección muestra los datos que vayas ingresando para tu cotización. Completa 3 sencillos pasos para generar una propuesta comercial para tu cliente.
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Datos del Cliente</td>
                                </tr>
                                <tr>
                                    <td>Cliente: @Model.ClienteNombre</td>
                                </tr>
                                <tr>
                                    <td>Contacto: @Model.ClienteContacto</td>
                                </tr>
                                <tr>
                                    <td>Correo: @Model.ClienteEmail</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Activos</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="5" cellspacing="5" width="100%">
                                            @foreach (EquipoModel equipo in Model.LstEquipos)
                                            {
                                                <tr>
                                                    <td width="350">
                                                        @String.Format("({0}) {1}", equipo.Cantidad, equipo.Producto)
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <table cellpadding="5" cellspacing="5" width="100%">
                                <tr>
                                    <td class="label_color">Datos del Financiamiento</td>
                                </tr>
                                <tr>
                                    <table cellpadding="5" cellspacing="5" width="100%">
                                        <tr>
                                            <td width="350">
                                                @Model.FinanciamientoTipo.FinancialType_Description
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="350">
                                                Moneda: @Model.FinanciamientoMoneda.Currency_Code
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="350">
                                                Plazos: @foreach (Cat_FinancialTerm plazo in @Model.LstFinPlazos)
                                                {
                                                    @String.Format("{0},", plazo.FinancialTerm_Description)
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <hr class="dottedline">

                    <div class="form-group" align="right">
                        <input type="button" value="Generar Propuesta" class="btn btn-primary" onclick="mostrarAmortizacion('@Url.Action("TablaAmortizacion")');">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>